

/* ==========================================================================
   Author's custom styles by Chutipong Roobklom
   ========================================================================== */
/* Cutsom Fonts */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: local('Open Sans Light'), local('OpenSans-Light'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 300;
   src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 400;
   src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 700;
   src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}


/* ==========================================================================
   Body
   ========================================================================== */
body {
   padding-top: 70px;
   padding-bottom: 30px;
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #ffffff;
}



/* ==========================================================================
   Navigation
   ========================================================================== */

.navbar .navbar-default {
   height: 60px;
   margin-bottom: 100px;
   background-color: #f8f8f8;
}

.navbar .navbar-collapse{
   background-color: #f8f8f8;
   border-color: #000;
}

.navbar .navbar-collapse nav{
   border-top-color: #000;
}


/* ==========================================================================
   Hero
   ========================================================================== */
.jumbotron{
   height: 400px;
   background-color: #ffffff;
}
.jumbotron h1{
   margin-top: 100px;
   text-align: center;
}

.jumbotron p{
   text-align: center;
}

.jumbotron .jumbotron--button{
   text-decoration: none;
   text-align: center;
   display: inline-block;
   padding: 10px 16px;
   background-color: #eee;
   border: 1px solid;
   font-size: 20px;
   margin-top: 15px;
   margin-bottom: 5px;

}

.jumbotron .jumbotron--button:hover{
   color: #333333;
   text-decoration: none;
}

/* ==========================================================================
   Portfolio
   ========================================================================== */
.portfolio h3{
   text-align: center;
}

.row{
   position: relative;
   display: block;
}
.row .box{
   position: relative;
   margin-top: 2px;
   display: inline-block;
   text-align: center;
}

/* ==========================================================================
   Skills
   ========================================================================== */
.skills img{
   position: relative;
   width: 100%;
   height: 100%;
   min-height: 250px;
}

.skills h3{
   text-align: center;
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
   margin-top: 50px;
}
footer .container {
   height: 50px;
}